body, html {
  background-color: #193441;
}

#calculator {
  width: 60vh;
  margin: 5vh auto 0;

  #result {
    height: 22vh;
    background-color: #FCFFF5;
  }

  #preview {
    height: 8vh;
    background-color: #3E606F;
  }

  #keys {
    text-align: center;

    #numbers {
      padding: 0;

      >.numbers-container {
        padding: 0;

        >.numbers-row {
          margin: 0;
        }
      }

      .number {
        height: 15vh;
        width: 15vh;
        line-height: 15vh;
        background-color: #D1DBBD;
        transition: background-color 0.3s ease-in;

        &:hover {
          background-color: darken(#D1DBBD, 10%);
        }
      }
    }

    #operators {
      padding: 0;

      .operator {
        width: 15vh;
        height: 12vh;
        line-height: 12vh;
        background-color: #91AA9D;
        transition: background-color 0.3s ease-in;

        &:hover {
          background-color: darken(#91AA9D, 10%);
        }
      }
    }
  }
}